
  body {
    background-color: #c0c0c0;
  }

  hr {
    border-color: grey;
    border-style:none;
    border-top-style: dotted;
    border-width: 8px;
    width: 5%;
  }
  h1 {
    font-family: "lucida console", monospace;
    color: black;
    text-shadow: 2px 2px grey;
 }
  h3 {
    color: #2F4F4F;
  }
  p {
    font-family: "lucida console", monospace;
  }
  img {
    border-radius: 100%;
  }
  table {
    border-radius: 2%;
  }
/*************Class Selectors*************/

.titles {
  text-align: center;
}
